## Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

## SQL Server & Local DB
*.mdf
*.ldf
*.ndf
*.bak

## Docker
.dockerignore
# Ignore docker data volumes
mssql_data/

## User Secrets & Settings
appsettings.Development.json
.env
*.env
# appsettings.json (Nếu bạn muốn giữ mẫu thì không nên ignore, nhưng nên ignore password thật)
